# === R and RStudio ===
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# === OS & temp files ===
.DS_Store
Thumbs.db

# === Logs and cache ===
*.log
*/.ipynb_checkpoints/

# === Metadata / local configs ===
outputs/metadata_run.json

# === Optional large or private data ===

